<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <!-- <a href="/">HOME</a>
    <a href="/user/join">JOIN</a>
    <a href="/user/login">LOGIN</a>
    <a href="/user/profile">PROFILE</a>
    <a href="/board/list">게시판 리스트</a> -->
    <div class="wrap">
        <div class="header_wrap">
            <div class="navbar">
                <a class="btn" href="">회원가입</a>
                <a class="btn" href="">로그인</a>
            </div>
            <div class="header">
                <h1 class="logo"><a href="">살려조</a></h1>
                <ul class="main_wrap">
                    <li class="main_menu"><a href="">HOME</a></li>
                    <li class="main_menu"><a href="">JOIN</a></li>
                    <li class="main_menu"><a href="">LOGIN</a></li>
                    <li class="main_menu"><a href="">BOARD</a></li>
                    <li class="main_menu"><a href="">PROFILE</a></li>
                </ul>
            </div>
        </div>
        <div class="slideshow">
            <div class="slide">
                <div><img src="../public/img/aurora2.jpg"></div>
                <div><img src="../public/img/aurora2.jpg"></div>
                <div><img src="../public/img/aurora2.jpg"></div>
            </div>
            <div class="controller">
                <span class="prev"><</span>
                <span class="next">></span>
            </div>
        </div>
        <div class="content_wrap">
            <div class="content">
                <div class="summary">
                    <div class="summary_img"><img src="../public/img/mad.jpg" alt=""></div>
                    <ul class="text_wrap">
                        <li>가나다라</li>
                        <li>마바사아</li>
                        <li>자차카타</li>
                        <li>파하</li>
                    </ul>
                </div>
                <div class="summary">
                    <div class="summary_img"><img src="../public/img/mad.jpg" alt=""></div>
                    <ul class="text_wrap">
                        <li>가나다라</li>
                        <li>마바사아</li>
                        <li>자차카타</li>
                        <li>파하</li>
                    </ul>
                </div>
                <div class="summary">
                    <div class="summary_img"><img src="../public/img/mad.jpg" alt=""></div>
                    <ul class="text_wrap">
                        <li>가나다라</li>
                        <li>마바사아</li>
                        <li>자차카타</li>
                        <li>파하</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">3</div>
    </div>
</body>
</html>