* {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    width: 100%;
}

#header_wrap {
    width: 100%;
}

#board_wrap {
    width: 100%;
}

#footer_wrap {
    width: 100%;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

#header > #header_content {
    margin-top: 100px;
    text-align: center;
}

#header_content > div {
    width: 900px;
    height: 60px;
    margin: 50px auto 0;
    color: #3e3e3e;

}

#board > #board_layout {
    width: 900px;
    height: 500px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    margin: 20px auto 20px;
    border-radius: 20px;
}

#board_content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#board_content > table {
    width: 800px;
}

#footer > #footer_content {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}

#footer > #footer_content > button {
    width: 60px;
    height: 30px;
    margin-right: 40px;
    background-color: #14b09b;
    border: 0;
}

#footer > #footer_content > button > a {
    color: #ececec;
}