<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/user/join.css">
    <style> @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap'); </style>
</head>
<body>
    <div class="wrap">
        <div id="join_wrap">
            <div class="header_wrap">
                <div class="header">
                    <a href="/">
                        Team 5
                    </a>
                </div>
            </div>
            <div class="info_wrap">
                <div class="join ">
                    <form method="post">
                        <ul class="join_menu">
                            <li>
                                <div class="input_text">ID</div> 
                                <div><input type="text" name="user_id"></div>
                            </li>
                            <li>
                                <div class="input_text">PassWord</div> 
                                <div><input type="password" name="user_pw"></div>
                            </li>
                            <li>
                                <div class="input_text">Name</div> 
                                <div><input type="text" name="user_name"></div>
                            </li>
                            <li>
                                <div class="input_text">NickName</div> 
                                <div><input type="text" name="nickname"></div>
                            </li>
                        <!-- </ul>
                        <ul class="join_menu"> -->
                            <li>
                                <div class="input_text">Birth</div> 
                                <div><input type="text" name="birth" placeholder="ex) 19950313"></div>
                            </li>
                            <li>
                                <div class="input_text">Gender</div> 
                                <div><input type="text" name="gender" placeholder="ex) 남자"></div>
                            </li>
                            <li>
                                <div class="input_text">Tel.</div> 
                                <div><input type="text" name="telephone" placeholder="ex) 024023888"></div>
                            </li>
                            <li>
                                <div class="input_text">Phone</div> 
                                <div><input type="text" name="mobile" placeholder="ex) 01049155968"></div>
                            </li>
                        </ul>
                        <div class="button">
                            <button class="join_button btn" type="submit">Join</button>
                            <button class="back_button btn" type="button"><a href="/">Back</a></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer_wrap">
                <div class="footer">
                    <div class="copyright">
                        Copyright © 2022 All rights reserved | This template is made by Char1ey.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>