<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <style> @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap'); </style>
</head>
<body>
    <div class="wrap">
        <div class="loginWrap">
            <div class="header">
                <h1>로그인 페이지</h1>
            </div>
            <div class="loginForm">
                <form action="/user/login" method="post">
                    <div class="loginContent">
                        <div class="loginInfo"> 아이디 : <input type="text" name="user_id"> </div>
                        <div class="loginInfo"> 비밀번호 : <input type="password" name="user_pw"> </div>
                    </div>
                    <div class="btn">
                        <button type="submit">로그인</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>