<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/profile.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="wrap">

        <div id="header">
            <div id="subject" class="container">
                <div>
                    <h1>ProFile</h1>
                </div>
            </div>
            
        </div>

        <div id="content">
            <div id="content_info" class="container">
                <div id="info_img">
                    이미지
                </div>

                <div id="info_user">
                    <ul>
                        <li>
                            <div class="list_subject">ID</div>
                            <div id="user_id" class="list_content">{{user.user_id}}</div>
                        </li>
                        <li>
                            <div class="list_subject">Name</div>
                            <div id="user_name" class="list_content">{{user.user_name}}</div>
                        </li>
                        <li>
                            <div class="list_subject">Gender</div>
                            <div id="gender" class="list_content">{{user.gender}}</div>
                        </li>
                        <li>
                            <div class="list_subject">Telephone</div>
                            <div id="telephone" class="list_content">{{user.telephone}}</div>
                        </li>
                        <li>
                            <div class="list_subject">Mobile</div>
                            <div id="mobile" class="list_content">{{user.mobile}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</body>
</html>