<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    
    <div id="wrap">

        <div id="header_wrap">

            <div id="header">
                <h1>Welcome!!!</h1>
            </div>

            <div id="header_name">
                {{user_name}}님 회원가입을 환영합니다.
            </div>

        </div>

        <div id="body_wrap">

            <div id="body">

                <ul>

                    <li>
                        <div>{{user_id}}</div>
                    </li>
                    <li>
                        <div>{{user_name}}</div>
                    </li>
                    <li>
                        <div>{{gender}}</div>
                    </li>
                    <li>
                        <div>{{telephone}}</div>
                    </li>
                    <li>
                        <div>{{mobile}}</div>
                    </li>

                </ul>


            </div>

        </div>

    </div>

</body>
</html>