* {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    width: 100%;
}

#header_wrap {
    width: 100%;
}

#content_wrap {
    width: 100%;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

#header > #subject {
    margin-top: 100px;
    text-align: center;
}

#content > #content_layout {
    margin: 50px auto 0;
}

#content_layout > form {
    width: 800px;
    margin: 0 auto;
}

#content_layout > form > div {
    margin-bottom: 7px;
}

#content_layout > form > input {
    width: 100%;
    margin-bottom: 14px;
}

#content_layout > form > #content {
    height: 300px;
}

#content_layout > form > #button > button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    padding: 5px 10px;
}

#content_layout > form > #button > .back > a {
    color: #ececec;
}